<div class="about-page">
  <div>
    <h2>About Us</h2>

    <p>This was a project created during weeks 8 and 9 of the Makers course.</p>

    <p>The team behind the creation of the app:</p>
    <ul>
      <li><a href="https://github.com/Reeshul">Reeshul Shah</a></li>
      <li><a href="https://github.com/twigz826">Tom Twigden</a></li>
      <li><a href="https://github.com/ddottyler">Dan Tyler</a></li>
      <li><a href="https://github.com/Mornevanzyl">Morne Van Zyl</a></li>
      <li><a href="https://github.com/JoshSinyor">Josh Sinyor</a></li>
    </ul>
    <div class="image wrapper">
      <img src="images/image.png" />
    </div>
  </div>

  <div class="about-page-footer">
    <p><em>Sextus pinus erectus</em></p>
  </div>
</div>
