// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about-page {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-page-footer {
  margin-top: 2rem;
}

.image-wrapper {
  margin-top: 4rem;
}
